@font-face {
   font-family: 'PrintAble4U Bold ver 1.00';
   font-display: swap;
   src: url('PrintAble4U Bold ver 1.00/font.ttf');
}
@font-face {
   font-family: 'FC Active Regular';
   font-display: swap;
   src: url('FC Active Regular/font.ttf');
}
