@font-face {
   font-family: 'FC Active Regular';
   font-display: swap;
   src: url('file:///C:/Users/ASUS/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-09-27_163512/fonts/FC%20Active%20Regular/font.ttf');
}
